<% link = 'vlfjf1p9u0yhx4dcxwya.jpg' %>

<div class="banner">
  <%= cl_image_tag link, class: 'banner-img' %>
</div>

<div class="wrapper-content">
  <div class="container">
    <div class="row content">
        <% @cocktails.each do |c| %>
          <div class="card">
            <% if c.photo.url %>
                <div class="card-content"><%= link_to c.name, cocktail_path(c) %></div>
                <div class="card-content"><%= image_tag c.photo.url(:thumbnail), class:"radius" %></div>
            <% else %>
                <%= link_to c.name, cocktail_path(c) %>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>










