<ul>
  <% @cocktails.each do |c| %>
    <li>
      <% if c.photo.url %>
          <p><%= link_to c.name, cocktail_path(c) %></p>
          <%= image_tag c.photo.url(:thumbnail) %>
      <% else %>
          <%= link_to c.name, cocktail_path(c) %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a cocktail", new_cocktail_path %>
